<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuickDesk - Admin Panel</title>
</head>
<body>
    <h1>QuickDesk - Admin Panel</h1>

    <p th:text="${adminname}"></p>
    <p th:text="${adminteam}"></p>

    <h3>My tickets</h3>
    <table>
        <thead>
        <tr>
            <th>Ticket number</th>
            <th>Ticket title</th>
            <th>Date created</th>
            <th>Category</th>
            <th>Assigned technician</th>
            <th>Status</th>
            <th>Last modification</th>
            <th>Date closed</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket: ${ticketsOpened}">
            <td th:text="${ticket.getId()}"></td>
            <td th:text="${ticket.getTicketTitle()}"></td>
            <td th:text="${ticket.getTicketDateCreated()}"></td>
            <td th:text="${ticket.getTicketCategorization()}"></td>
            <td th:text="${ticket.getAssignedAdmin()}"></td> <!-- Needs to be corrected, it will return the admin's UUID instead of his name -->
            <td th:text="${ticket.getTicketStatus()}"></td>
            <td th:text="${ticket.getTicketLastModified()}"></td>
            <td th:text="${ticket.getTicketDateClosed()}"></td>
        </tr>
        </tbody>
    </table>

    <h3>Assigned tickets</h3>
    <table>
        <thead>
        <tr>
            <th>Ticket number</th>
            <th>User</th>
            <th>Ticket title</th>
            <th>Date created</th>
            <th>Category</th>
            <th>Assigned technician</th>
            <th>Status</th>
            <th>Last modification</th>
            <th>Date closed</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket: ${ticketsAssigned}">
            <td th:text="${ticket.getId()}"></td>
            <td th:text="${ticket.getUtilisateur()}"></td>
            <td th:text="${ticket.getTicketTitle()}"></td>
            <td th:text="${ticket.getTicketDateCreated()}"></td>
            <td th:text="${ticket.getTicketCategorization()}"></td>
            <td th:text="${ticket.getTicketStatus()}"></td>
            <td th:text="${ticket.getTicketLastModified()}"></td>
            <td th:text="${ticket.getTicketDateClosed()}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>